<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://instamedia.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>instamedia.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>instamedia</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$instamedia</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:k4flsnlo80.database.windows.net,1433;Initial Catalog=instameArlADV3QP;User ID=Instamedia@k4flsnlo80;Password=CSU_2016" Name="Data Source=tcp:k4flsnlo80.database.windows.net,1433;Initial Catalog=instameArlADV3QP;User Id=Instamedia@k4flsnlo80;Password=CSU_2016" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="InstamediaApi.Models.ApplicationDbContext, InstamediaApi" MigrationConfiguration="InstamediaApi.Migrations.Configuration, InstamediaApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:k4flsnlo80.database.windows.net,1433;Initial Catalog=instameArlADV3QP;User Id=Instamedia@k4flsnlo80;Password=CSU_2016</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>